<?php
return [
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '{{ mysql_db_host }}',
                'dbname' => '{{ mysql_db_name }}',
                'username' => '{{ mysql_db_user }}',
                'password' => '{{ mysql_db_password }}',
                'active' => '1',
            ],
        ],
    ],
];

